.transactionHistory {
    width: 800px;
    display: block;
    margin: 0 auto;
        table-layout: fixed;
        border-collapse: collapse;
        border: 2px solid black;
        overflow: hidden;
        margin-top: 50px;
   margin-bottom: 100px;
}
.itemTh {
   padding: 20px 106px;
   color: white;
}
.transactiontTead {
    background-color: rgb(131, 166, 231);
}
.transactionTd {
   padding:  10px 0;
    margin: 0 auto;
    text-align: center;
}
.transactionTbodyTr:nth-child(2n) {
    background-color: rgb(192, 207, 218);
}
.transactionTbodyTr:nth-child(2n+1) {
    background-color: white;
}